@CHARSET "UTF-8";

.header {
    width:100%;
    text-align:left;
}

.container {
    clear:both;
    width:100%;
    height:100;
    text-align:left;
    background-color: #fff;
    padding-bottom: 20px;
}

.body-container {
    clear:both;
    margin: 0px auto;
    min-height: 500px;
}

.body-containertable {
    clear:both;
    margin: 0px auto;
    width: 100%;
    height: 100%;
    border: 1px solid #ffeab3;
}

.title{
	clear:both;
    margin: 2px auto;
    width: 100%;
    height: 100%;
}

.body-title {
    color: #424951;
    padding-top: 20px;
    padding-bottom: 5px;
    margin: 0 0 45px 0;
    border-bottom: 1px solid #ffeab3;
}
.body-title h3 {
    font-size: 23px;
    font-family:"Malgun Gothic", "맑은 고딕", NanumGothic, 나눔고딕, 돋움, sans-serif;
    font-weight: bold;
    margin: 0 0 -5px 0;
    padding-bottom: 12px;
    display: inline-block;
}



.footer {
    clear:both;
    width:100%;
}

/* header */
.header-top {
	float: right; 
	display: block;
    margin:0px auto;
    width: 1150px;
    height: 40px;
    clear: both;
    padding-top : 8px;
    padding-bottom: 20px;
}

.header-bottom {
    width: 100%;
    height: 320px;
	clear:both;
	background-color : #ffd700;
	box-shadow: 5px 7px 18px #f0f0f0;
}


/* footer */
.footer {
    width:100%;
    height:50px;
    margin:5px auto;
    text-align:center;
    background-color: #ffffff;
    line-height: 50px;
    border-top:1px solid #cccccc;
}

/* menu */
.menu {
	margin-left: auto;
  	margin-right: auto;
    width: 100%;
    min-height: 42px;
    clear: both;
    border-top: 1px solid #ffeab3;
    border-bottom: 1.35px solid #ffd700;
    text-align: center;
    table-layout: fixed;
    
}

ul.nav {
  text-align:center;
  width:100%;
  margin:0px 0px;
  padding: 0;
  list-style: none;
}

ul.nav li { 
  display: inline;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  position: relative;
  }

ul.nav li a {
  line-height: 45px;
  color: #555;
  text-decoration: none;
  padding: 13px 13px;
  vertical-align: middle;
}

ul.nav .current a, ul.nav li:hover > a {
  color: #ffd700;
  font-weight : 900;
  text-decoration: none;
  border-bottom: .21rem solid #ffffff;
  text-align: center;
}

ul.nav ul {
  display: none;
  text-align: center;
}

ul.nav li:hover > ul {
  position: absolute;
  display: block;
  width: 960px;
  height: 40px;
  margin: 40px 0 0 -1px;
  background: #ffd700;
  border: 1px solid #ffd700;
  z-index: 101;
  box-sizing: border-box;
}

ul.nav li:hover > ul li a {
  float: left;
  line-height: 39px;
  color: #333;
  text-decoration: none;
  margin: 0;
  padding: 0 20px 0 20px;
  background: #e9e9e9;
}

ul.nav li:hover > ul li a:hover {
  color: #333;
  text-decoration: none;
}

/* navigation */
.navigation {
    width:100%;
    height: 40px;
    clear: both;
    background: #ffffff;
    border-bottom: 1px solid #cccccc;
}

.nav-bar {
    width:960px;
    height: 40px;
    clear: both;
    margin:0px auto;
    line-height:40px;
    text-align:right;
    background: #ffffff;
}
