@CHARSET "UTF-8";

* {
    margin:0; padding:0;
}

body {
    font-family:"Malgun Gothic", "맑은 고딕", NanumGothic, 나눔고딕, 돋움, sans-serif;
    font-size: 14px;
    /* line-height: 1.42857143; */
	/* box-sizing: border-box;*/  /* padding과 border는 크기에 포함되지 않음 */
}

a {
    cursor: pointer;
    color: #7f7f7f;
    text-decoration: none;
}
a:hover, a:active {
    color: #7f7f7f;
    text-decoration: underline;
}

.btnConfirm {
    font-size: 15px; 
    border:none;
    color:#ffffff;
    background:#507CD1;
    width: 360px;
    height: 50px;
    line-height: 50px;
    border-radius:4px;
}

.boxTF {
    border:1px solid #e7e8ea;
    height : 30px;
    text-align:left;
    width : 191px;
    font-family:"Malgun Gothic", "맑은 고딕", NanumGothic, 나눔고딕, 돋움, sans-serif;
}
.boxTF[readonly] {
	background-color:#eeeeee;
	/* border: none;*/
}

.selectField {
    border:1px solid #e7e8ea;
    height : 30px;
    text-align:left;
    width : 85px;
    font-family:"Malgun Gothic", "맑은 고딕", NanumGothic, 나눔고딕, 돋움, sans-serif;
}

.boxTA {
    border:1px solid #e7e8ea;
    height:150px;
    padding:3px 5px;
    border-radius:4px;
    background-color:#ffffff;
    font-family:"Malgun Gothic", "맑은 고딕", NanumGothic, 나눔고딕, 돋움, sans-serif;
}
