<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>study</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!--  
  <error-page>
  	<error-code>404</error-code>
  	<location>/error/error404.jsp</location>
  </error-page>
    <error-page>
  	<error-code>500</error-code>
  	<location>/error/error500.jsp</location>
  </error-page>
  -->
  
  
  <context-param>
  	<param-name>server</param-name>
  	<param-value>127.0.0.1</param-value>
  </context-param>
  <context-param>
  	<param-name>user</param-name>
  	<param-value>sky</param-value>
  </context-param>  
  <context-param>
  	<param-name>pwd</param-name>
  	<param-value>java$!</param-value>
  </context-param> 
  
  <servlet>
  	<servlet-name>demoServlet</servlet-name>
    <servlet-class>com.demo1.DemoServlet</servlet-class>
    <init-param>
    	<param-name>name</param-name>
    	<param-value>test</param-value>
    </init-param>
    <init-param>
    	<param-name>city</param-name>
    	<param-value>seoul</param-value>
    </init-param>
    
  </servlet>
  <servlet-mapping>
    <servlet-name>demoServlet</servlet-name>
    <url-pattern>/demo</url-pattern>
  </servlet-mapping>
  
</web-app>